/*Colors and Fonts*/

body{
	background-color: white;
	color:silver ;
	font-family: Helvetica
	font-size: 14px;
}

#logo {
	width: 300px;
	border-radius: 200px
}
h3{
	color: #997D3B;
}
h1{
	color: #997D3B;
}
h2{
	color: #997D3B;
}
div{
	margin: 70px
	background: rgba(0,0,20,0,7);
	box-shadow: 2px 10px 300px;
	border-radius: 4px;
}
p{
	color: #997D3B;
}